:root {
    --background-color: #000000;
    --stage-board-color: #b3e4e7;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    text-align: left;
    width: 100%;
    padding-left: 30px;
    color: white;
}

h2{
    margin: 5px 15px;
    color: white;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.row {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    column-gap: 40px;
    margin: 0px 100px;
    padding: 10px 50px;
}

.header{
    background: rgba(0,0,0, 0.4);
}

.drag-and-drop-container {
    flex: 0 1 250px;
    background: linear-gradient(125deg, #6d83d4, #63e0ff);
    height: 90vh;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;

}

.drag-and-drop-zone {

    height: max-content;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
    width: 80%;
    margin: auto;
    border: 0px;
    padding: 10px;
    border-radius: 15px;
}

.card-container {
    background-color: white;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
}

.overlayer {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 250px;
    height: max-content;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

}

.form-container div label {
    width: 40%;
    display: block;
}

.form-container form input {
    width: 50%;

}

.form-container form div {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.drag-and-drop-canvas {
    row-gap: 20px;
    justify-content: flex-start;
}


.error-message {
    flex: 2 0 auto;
    color: red;
    height: 20px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}

.create-btn{
    margin-bottom: 20px;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    background: none;
    border: 1px dotted #d5d5d5;
    cursor: pointer;
    text-align: left;
    color: #fff;
    font-weight: bold;
}